Repository objectcomputing/check-ins, pull requests merged in 2021-07, with the labels that each got.

#1079 Draft: Feature 1054/link requestee to process
  web-ui/src/api/feedback.js
  web-ui/src/components/feedback_recipient_selector/FeedbackRecipientSelector.jsx
  web-ui/src/components/personnel/Personnel.css
  web-ui/src/components/personnel/Personnel.jsx
  web-ui/src/pages/FeedbackRequestPage.jsx
  web-ui/src/pages/__snapshots__/FeedbackRequestPage.test.js.snap
Labels: feedback request

#1080 Feature 1027/create template backend controller
  server/src/main/java/com/objectcomputing/checkins/services/feedback_template/FeedbackTemplate.java
  server/src/main/java/com/objectcomputing/checkins/services/feedback_template/FeedbackTemplateController.java
  server/src/main/java/com/objectcomputing/checkins/services/feedback_template/FeedbackTemplateCreateDTO.java
  server/src/main/java/com/objectcomputing/checkins/services/feedback_template/FeedbackTemplateRepository.java
  server/src/main/java/com/objectcomputing/checkins/services/feedback_template/FeedbackTemplateResponseDTO.java
  server/src/main/java/com/objectcomputing/checkins/services/feedback_template/FeedbackTemplateServices.java
  server/src/main/java/com/objectcomputing/checkins/services/feedback_template/FeedbackTemplateServicesImpl.java
  server/src/main/java/com/objectcomputing/checkins/services/feedback_template/FeedbackTemplateUpdateDTO.java
  server/src/main/java/com/objectcomputing/checkins/services/memberprofile/MemberProfileServicesImpl.java
  server/src/main/resources/db/common/V65__create_feedback_templates_table.sql
  server/src/test/java/com/objectcomputing/checkins/services/feedback_template/FeedbackTemplateControllerTest.java
  server/src/test/java/com/objectcomputing/checkins/services/fixture/FeedbackTemplateFixture.java
  server/src/test/java/com/objectcomputing/checkins/services/fixture/RepositoryFixture.java
Labels: feedback request

#1093 Feature 1013/implement feedback request controllers integration tests
  server/src/main/java/com/objectcomputing/checkins/services/feedback_request/FeedbackRequest.java
  server/src/main/java/com/objectcomputing/checkins/services/feedback_request/FeedbackRequestController.java
  server/src/main/java/com/objectcomputing/checkins/services/feedback_request/FeedbackRequestCreateDTO.java
  server/src/main/java/com/objectcomputing/checkins/services/feedback_request/FeedbackRequestRepository.java
  server/src/main/java/com/objectcomputing/checkins/services/feedback_request/FeedbackRequestResponseDTO.java
  server/src/main/java/com/objectcomputing/checkins/services/feedback_request/FeedbackRequestServices.java
  server/src/main/java/com/objectcomputing/checkins/services/feedback_request/FeedbackRequestServicesImplementation.java
  server/src/main/java/com/objectcomputing/checkins/services/feedback_request/FeedbackRequestUpdateDTO.java
  server/src/main/resources/db/common/V60__create_feedback_request_table.sql
  server/src/main/resources/db/common/V62__alter_feedback_request_table.sql
  server/src/test/java/com/objectcomputing/checkins/services/feedback/suggestions/FeedbackSuggestionsControllerTest.java
  server/src/test/java/com/objectcomputing/checkins/services/feedback_request/FeedbackRequestControllerTest.java
  server/src/test/java/com/objectcomputing/checkins/services/fixture/FeedbackRequestFixture.java
  server/src/test/java/com/objectcomputing/checkins/services/fixture/MemberProfileFixture.java
  server/src/test/java/com/objectcomputing/checkins/services/fixture/RepositoryFixture.java
Labels: feedback request

#1116 Fixed broken method names in feedback template backend tests
  server/src/test/java/com/objectcomputing/checkins/services/feedback_template/FeedbackTemplateControllerTest.java
Labels: bug, feedback request

#1096 Feature 1026/make mobile friendly
  web-ui/src/App.js
  web-ui/src/components/feedback_recipient_selector/FeedbackRecipientSelector.jsx
  web-ui/src/components/feedback_request/Feedback_recipient_card.jsx
  web-ui/src/components/feedback_request_confirmation/FeedbackRequestConfirmation.css
  web-ui/src/components/feedback_request_confirmation/FeedbackRequestConfirmation.jsx
  web-ui/src/components/feedback_request_confirmation/__snapshots__/FeedbackRequestConfirmation.test.js.snap
  web-ui/src/components/template-card/TemplateCard.css
  web-ui/src/pages/FeedbackRequestPage.css
  web-ui/src/pages/FeedbackRequestPage.jsx
  web-ui/src/pages/__snapshots__/FeedbackRequestPage.test.js.snap
Labels: feedback request

#1124 Bugfix 1122/fix problems with mobile after merge
  web-ui/src/components/feedback_template_selector/FeedbackTemplateSelector.css
  web-ui/src/components/feedback_template_selector/FeedbackTemplateSelector.jsx
  web-ui/src/components/feedback_template_selector/__snapshots__/FeedbackTemplateSelector.test.js.snap
  web-ui/src/pages/FeedbackRequestPage.jsx
  web-ui/src/pages/__snapshots__/FeedbackRequestPage.test.js.snap
Labels: bug, feedback request

#1148 Fix SonarQube warnings about feedback request schema
  server/src/main/java/com/objectcomputing/checkins/services/feedback_request/FeedbackRequest.java
Labels: bug, feedback request

#1127 Feature 1083/search list of recipients on feedback request page
  server/src/main/java/com/objectcomputing/checkins/services/feedback/suggestions/FeedbackSuggestionDTO.java
  server/src/test/java/com/objectcomputing/checkins/services/feedback/suggestions/FeedbackSuggestionsControllerTest.java
  web-ui/src/components/feedback_recipient_selector/FeedbackRecipientSelector.jsx
  web-ui/src/components/feedback_recipient_selector/__snapshots__/FeedbackRecipientSelector.test.js.snap
  web-ui/src/components/feedback_request/Feedback_recipient_card.css
  web-ui/src/components/feedback_request/Feedback_recipient_card.jsx
  web-ui/src/components/feedback_request/Feedback_recipient_card.test.js
  web-ui/src/components/feedback_request/__snapshots__/Feedback_recipient_card.test.js.snap
  web-ui/src/pages/FeedbackRequestPage.jsx
Labels: enhancement, feedback request

#1149 Feature 1129/change feedback recipient search so that selected are always shown at top
  web-ui/src/components/feedback_recipient_card/FeedbackRecipientCard.css
  web-ui/src/components/feedback_recipient_card/FeedbackRecipientCard.jsx
  web-ui/src/components/feedback_recipient_card/FeedbackRecipientCard.stories.js
  web-ui/src/components/feedback_recipient_card/FeedbackRecipientCard.test.js
  web-ui/src/components/feedback_recipient_card/__snapshots__/FeedbackRecipientCard.test.js.snap
  web-ui/src/components/feedback_recipient_selector/FeedbackRecipientSelector.css
  web-ui/src/components/feedback_recipient_selector/FeedbackRecipientSelector.jsx
  web-ui/src/components/feedback_recipient_selector/__snapshots__/FeedbackRecipientSelector.test.js.snap
  web-ui/src/components/feedback_request/__snapshots__/Feedback_recipient_card.test.js.snap
  web-ui/src/pages/FeedbackRequestPage.css
  web-ui/src/pages/FeedbackRequestPage.jsx
  web-ui/src/pages/__snapshots__/FeedbackRequestPage.test.js.snap
Labels: feedback request, web-ui

#1095 Feature 1084/search templates (s)
  server/src/main/java/com/objectcomputing/checkins/services/feedback_request/FeedbackRequest.java
  web-ui/src/components/feedback_template_selector/FeedbackTemplateSelector.jsx
  web-ui/src/components/feedback_template_selector/__snapshots__/FeedbackTemplateSelector.test.js.snap
  web-ui/src/pages/FeedbackRequestPage.jsx
  web-ui/src/pages/__snapshots__/FeedbackRequestPage.test.js.snap
Labels: feedback request

#1131 Bugfix 1118/put confirmation page redirect back in FeedbackRequestPage
  web-ui/src/pages/FeedbackRequestPage.jsx
Labels: bug, feedback request, web-ui

#1162 Bug 1160/fix template search
  web-ui/src/components/feedback_template_selector/FeedbackTemplateSelector.jsx
Labels: bug, feedback request

#1157 Feature 1144/create view feedback component
  web-ui/src/App.js
  web-ui/src/components/view_feedback_selector/ViewFeedbackSelector.css
  web-ui/src/components/view_feedback_selector/ViewFeedbackSelector.js
  web-ui/src/components/view_feedback_selector/ViewFeedbackSelector.stories.js
  web-ui/src/pages/ViewFeedbackSelectorPage.css
  web-ui/src/pages/ViewFeedbackSelectorPage.js
Labels: view feedback, web-ui

#1158 Bugfix 1120/put auto push into url back
  web-ui/src/components/feedback_date_selector/SelectDate.jsx
Labels: bug, feedback request

#1105 Feature 1078/issue post request for new ad hoc template
  server/src/main/java/com/objectcomputing/checkins/services/feedback_request/FeedbackRequest.java
  server/src/main/java/com/objectcomputing/checkins/services/feedback_template/FeedbackTemplate.java
  server/src/main/java/com/objectcomputing/checkins/services/feedback_template/FeedbackTemplateController.java
  web-ui/src/api/feedbacktemplate.js
  web-ui/src/components/feedback_template_selector/FeedbackTemplateSelector.css
  web-ui/src/components/feedback_template_selector/FeedbackTemplateSelector.jsx
  web-ui/src/components/feedback_template_selector/__snapshots__/FeedbackTemplateSelector.test.js.snap
  web-ui/src/components/template-card/TemplateCard.css
  web-ui/src/components/template-card/TemplateCard.js
  web-ui/src/components/template-card/__snapshots__/TemplateCard.test.js.snap
  web-ui/src/components/template-preview-modal/TemplatePreviewModal.js
  web-ui/src/pages/FeedbackRequestPage.jsx
  web-ui/src/pages/__snapshots__/FeedbackRequestPage.test.js.snap
Labels: feedback request

#1136 Feature 1098/validation for feedback request date selection
  web-ui/src/components/feedback_date_selector/SelectDate.jsx
  web-ui/src/pages/FeedbackRequestPage.jsx
Labels: chore, feedback request

#1128 Bugfix 1123/restore back button functionality for feedback request stepper
  web-ui/src/pages/FeedbackRequestPage.jsx
Labels: bug, feedback request, web-ui

#1173 Feature 1107/implement feedback question schema
  server/src/main/java/com/objectcomputing/checkins/services/template_question/TemplateQuestion.java
  server/src/main/java/com/objectcomputing/checkins/services/template_question/TemplateQuestionController.java
  server/src/main/java/com/objectcomputing/checkins/services/template_question/TemplateQuestionCreateDTO.java
  server/src/main/java/com/objectcomputing/checkins/services/template_question/TemplateQuestionRepository.java
  server/src/main/java/com/objectcomputing/checkins/services/template_question/TemplateQuestionResponseDTO.java
  server/src/main/java/com/objectcomputing/checkins/services/template_question/TemplateQuestionServices.java
  server/src/main/java/com/objectcomputing/checkins/services/template_question/TemplateQuestionServicesImpl.java
  server/src/main/java/com/objectcomputing/checkins/services/template_question/TemplateQuestionUpdateDTO.java
  server/src/main/resources/db/common/V66__create_template_questions_table.sql
  server/src/test/java/com/objectcomputing/checkins/services/feedback_template/FeedbackTemplateControllerTest.java
  server/src/test/java/com/objectcomputing/checkins/services/fixture/RepositoryFixture.java
  server/src/test/java/com/objectcomputing/checkins/services/fixture/TemplateQuestionFixture.java
  server/src/test/java/com/objectcomputing/checkins/services/template_question/TemplateQuestionControllerTest.java
  web-ui/src/components/view_feedback_selector/ViewFeedbackSelector.css
Labels: feedback request, server

#1190 Feature 1178/add requestee to confirmation page
  web-ui/src/components/feedback_request_confirmation/FeedbackRequestConfirmation.jsx
  web-ui/src/components/feedback_request_confirmation/FeedbackRequestConfirmation.test.js
  web-ui/src/components/feedback_request_confirmation/__snapshots__/FeedbackRequestConfirmation.test.js.snap
  web-ui/src/pages/FeedbackRequestPage.jsx
Labels: feedback request

#1117 Feature 1077/issue post for feedback requests
  web-ui/src/api/feedback.js
  web-ui/src/pages/FeedbackRequestPage.jsx
Labels: feedback request

#1194 Created Member Validation
  web-ui/src/pages/FeedbackRequestPage.jsx
Labels: feedback request, web-ui

#1224 Report error on feedback
  web-ui/src/pages/FeedbackRequestPage.jsx
Labels: bug

#1213 Feature 1208/filter feedback requests by requestee name
  web-ui/src/App.js
  web-ui/src/components/feedback_request_card/FeedbackRequestCard.css
  web-ui/src/components/feedback_request_card/FeedbackRequestCard.jsx
  web-ui/src/components/feedback_request_card/FeedbackRequestCard.stories.js
  web-ui/src/components/feedback_request_card/feedback_request_subcard/FeedbackRequestSubcard.css
  web-ui/src/components/feedback_request_card/feedback_request_subcard/FeedbackRequestSubcard.jsx
  web-ui/src/components/menu/Menu.jsx
  web-ui/src/pages/ViewFeedbackPage.css
  web-ui/src/pages/ViewFeedbackPage.jsx
  web-ui/src/pages/ViewFeedbackSelectorPage.css
  web-ui/src/pages/ViewFeedbackSelectorPage.js
Labels: view feedback, web-ui

#1226 Feature 1223/create versioned template backend
  server/src/main/java/com/objectcomputing/checkins/services/feedback_request/FeedbackRequest.java
  server/src/main/java/com/objectcomputing/checkins/services/feedback_request/FeedbackRequestController.java
  server/src/main/java/com/objectcomputing/checkins/services/feedback_request/FeedbackRequestCreateDTO.java
  server/src/main/java/com/objectcomputing/checkins/services/feedback_request/FeedbackRequestRepository.java
  server/src/main/java/com/objectcomputing/checkins/services/feedback_request/FeedbackRequestResponseDTO.java
  server/src/main/java/com/objectcomputing/checkins/services/feedback_request/FeedbackRequestServices.java
  server/src/main/java/com/objectcomputing/checkins/services/feedback_request/FeedbackRequestServicesImpl.java
  server/src/main/java/com/objectcomputing/checkins/services/frozen_template/FrozenTemplate.java
  server/src/main/java/com/objectcomputing/checkins/services/frozen_template/FrozenTemplateController.java
  server/src/main/java/com/objectcomputing/checkins/services/frozen_template/FrozenTemplateCreateDTO.java
  server/src/main/java/com/objectcomputing/checkins/services/frozen_template/FrozenTemplateRepository.java
  server/src/main/java/com/objectcomputing/checkins/services/frozen_template/FrozenTemplateResponseDTO.java
  server/src/main/java/com/objectcomputing/checkins/services/frozen_template/FrozenTemplateServices.java
  server/src/main/java/com/objectcomputing/checkins/services/frozen_template/FrozenTemplateServicesImpl.java
  server/src/main/resources/db/common/V75__create_frozen_templates_table.sql
  server/src/main/resources/db/common/V76__alter_feedback_request_table.sql
  server/src/test/java/com/objectcomputing/checkins/services/feedback_request/FeedbackRequestControllerTest.java
  server/src/test/java/com/objectcomputing/checkins/services/fixture/FeedbackRequestFixture.java
  server/src/test/java/com/objectcomputing/checkins/services/fixture/FrozenTemplateFixture.java
  server/src/test/java/com/objectcomputing/checkins/services/fixture/RepositoryFixture.java
  server/src/test/java/com/objectcomputing/checkins/services/frozen_template/FrozenTemplateControllerTest.java
  web-ui/src/components/template-preview-modal/TemplatePreviewModal.jsx
Labels: feedback request, server

#1243 Testing data not updated along with database refactors
  server/src/main/resources/db/dev/R__Load_testing_data.sql
Labels: bug

#1219 Feature 1207/implement feedback answer schema
  server/src/main/java/com/objectcomputing/checkins/services/feedback_answer/FeedbackAnswer.java
  server/src/main/java/com/objectcomputing/checkins/services/feedback_answer/FeedbackAnswerController.java
  server/src/main/java/com/objectcomputing/checkins/services/feedback_answer/FeedbackAnswerCreateDTO.java
  server/src/main/java/com/objectcomputing/checkins/services/feedback_answer/FeedbackAnswerRepository.java
  server/src/main/java/com/objectcomputing/checkins/services/feedback_answer/FeedbackAnswerResponseDTO.java
  server/src/main/java/com/objectcomputing/checkins/services/feedback_answer/FeedbackAnswerServices.java
  server/src/main/java/com/objectcomputing/checkins/services/feedback_answer/FeedbackAnswerServicesImpl.java
  server/src/main/java/com/objectcomputing/checkins/services/feedback_answer/FeedbackAnswerUpdateDTO.java
  server/src/main/java/com/objectcomputing/checkins/services/feedback_request/FeedbackRequestServicesImpl.java
  server/src/main/resources/db/common/V71__create_feedback_answer_table.sql
  server/src/test/java/com/objectcomputing/checkins/services/feedback_answer/FeedbackAnswerControllerTest.java
  server/src/test/java/com/objectcomputing/checkins/services/fixture/FeedbackAnswerFixture.java
  server/src/test/java/com/objectcomputing/checkins/services/fixture/MemberProfileFixture.java
  server/src/test/java/com/objectcomputing/checkins/services/fixture/RepositoryFixture.java
Labels: feedback submission, server

#1241 Closes #1073: Send email notifications
  server/src/main/java/com/objectcomputing/checkins/notifications/email/EmailSender.java
  server/src/main/java/com/objectcomputing/checkins/notifications/email/MailJetSender.java
  server/src/main/java/com/objectcomputing/checkins/services/feedback_request/FeedbackRequestServicesImpl.java
  server/src/main/resources/application.yml
  server/src/test/java/com/objectcomputing/checkins/services/feedback_request/FeedbackRequestControllerTest.java
  web-ui/src/components/checkin/documents/FileUploader.jsx
  web-ui/src/components/feedback_submit_form/FeedbackSubmitForm.jsx
  web-ui/src/components/feedback_submit_form/__snapshots__/FeedbackSubmitForm.test.js.snap
  web-ui/src/components/template-card/TemplateCard.stories.js
Labels: feedback request

#1277 Feature 1247/add link construction to emails
  server/src/main/java/com/objectcomputing/checkins/notifications/email/MailJetSender.java
  server/src/main/java/com/objectcomputing/checkins/services/feedback_request/FeedbackRequestServicesImpl.java
  server/src/main/resources/application.yml
  server/src/test/java/com/objectcomputing/checkins/services/feedback_request/FeedbackRequestControllerTest.java
Labels: feedback submission

#1235 Feature 1169/template url validation
  web-ui/src/api/feedbacktemplate.js
  web-ui/src/context/selectors.js
  web-ui/src/pages/FeedbackRequestPage.jsx
Labels: feedback request, web-ui

#1293 Feature-1292: Create User Warning on Review Page
  web-ui/src/components/feedback_submit_form/FeedbackSubmitForm.jsx
  web-ui/src/components/feedback_submit_form/__snapshots__/FeedbackSubmitForm.test.js.snap
Labels: feedback submission, web-ui

#1288 Feature 1285/create feedback sentiment component
  web-ui/src/App.js
  web-ui/src/components/sentiment_icon/SentimentIcon.css
  web-ui/src/components/sentiment_icon/SentimentIcon.jsx
  web-ui/src/components/sentiment_icon/SentimentIcon.stories.js
  web-ui/src/components/sentiment_icon/SentimentIcon.test.js
  web-ui/src/components/sentiment_icon/__snapshots__/SentimentIcon.test.js.snap
  web-ui/src/components/view_feedback_responses/ViewFeedbackResponses.jsx
  web-ui/src/components/view_feedback_responses/ViewFeedbackResponses.test.js
  web-ui/src/components/view_feedback_responses/__snapshots__/ViewFeedbackResponses.test.js.snap
  web-ui/src/pages/FeedbackRequestPage.test.js
  web-ui/src/pages/__snapshots__/FeedbackRequestPage.test.js.snap
Labels: view feedback, web-ui

#1312 Closes Bugfix 1304/fix styling misalignments
  web-ui/src/components/feedback_submit_form/FeedbackSubmitForm.jsx
  web-ui/src/components/view_feedback_responses/ViewFeedbackResponses.css
  web-ui/src/components/view_feedback_responses/ViewFeedbackResponses.jsx
  web-ui/src/components/view_feedback_responses/feedback_response_card/FeedbackResponseCard.css
  web-ui/src/components/view_feedback_responses/feedback_response_card/FeedbackResponseCard.jsx
  web-ui/src/components/view_feedback_responses/feedback_response_card/FeedbackResponseCard.stories.js
  web-ui/src/components/view_feedback_responses/feedback_response_card/FeedbackResponseCard.test.js
  web-ui/src/components/view_feedback_responses/feedback_response_card/__snapshots__/FeedbackResponseCard.test.js.snap
Labels: bug, web-ui
