Repository objectcomputing/check-ins, pull requests merged in 2021-08, with the labels that each got.

#1344 Feature 1342/Reorder migrations on feedback branch
  server/src/main/java/com/objectcomputing/checkins/services/action_item/ActionItemRepository.java
  server/src/main/java/com/objectcomputing/checkins/services/agenda_item/AgendaItemRepository.java
  server/src/main/java/com/objectcomputing/checkins/services/demographics/Demographics.java
  server/src/main/java/com/objectcomputing/checkins/services/demographics/DemographicsController.java
  server/src/main/java/com/objectcomputing/checkins/services/demographics/DemographicsCreateDTO.java
  server/src/main/java/com/objectcomputing/checkins/services/demographics/DemographicsRepository.java
  server/src/main/java/com/objectcomputing/checkins/services/demographics/DemographicsResponseDTO.java
  server/src/main/java/com/objectcomputing/checkins/services/demographics/DemographicsServicesImpl.java
  server/src/main/java/com/objectcomputing/checkins/services/demographics/DemographicsUpdateDTO.java
  server/src/main/java/com/objectcomputing/checkins/services/feedback_answer/FeedbackAnswer.java
  server/src/main/java/com/objectcomputing/checkins/services/feedback_answer/FeedbackAnswerCreateDTO.java
  server/src/main/java/com/objectcomputing/checkins/services/feedback_answer/FeedbackAnswerRepository.java
  server/src/main/java/com/objectcomputing/checkins/services/feedback_answer/FeedbackAnswerResponseDTO.java
  server/src/main/java/com/objectcomputing/checkins/services/feedback_answer/FeedbackAnswerUpdateDTO.java
  server/src/main/java/com/objectcomputing/checkins/services/feedback_request/FeedbackRequest.java
  server/src/main/java/com/objectcomputing/checkins/services/feedback_request/FeedbackRequestController.java
  server/src/main/java/com/objectcomputing/checkins/services/feedback_request/FeedbackRequestCreateDTO.java
  server/src/main/java/com/objectcomputing/checkins/services/feedback_request/FeedbackRequestRepository.java
  server/src/main/java/com/objectcomputing/checkins/services/feedback_request/FeedbackRequestResponseDTO.java
  server/src/main/java/com/objectcomputing/checkins/services/feedback_request/FeedbackRequestServicesImpl.java
  server/src/main/java/com/objectcomputing/checkins/services/feedback_request/FeedbackRequestUpdateDTO.java
  server/src/main/java/com/objectcomputing/checkins/services/feedback_template/FeedbackTemplate.java
  server/src/main/java/com/objectcomputing/checkins/services/feedback_template/FeedbackTemplateController.java
  server/src/main/java/com/objectcomputing/checkins/services/feedback_template/FeedbackTemplateCreateDTO.java
  server/src/main/java/com/objectcomputing/checkins/services/feedback_template/FeedbackTemplateRepository.java
  server/src/main/java/com/objectcomputing/checkins/services/feedback_template/FeedbackTemplateResponseDTO.java
  server/src/main/java/com/objectcomputing/checkins/services/feedback_template/FeedbackTemplateServicesImpl.java
  server/src/main/java/com/objectcomputing/checkins/services/feedback_template/template_question/TemplateQuestionController.java
  server/src/main/java/com/objectcomputing/checkins/services/feedback_template/template_question/TemplateQuestionRepository.java
  server/src/main/java/com/objectcomputing/checkins/services/guild/GuildRepository.java
  server/src/main/java/com/objectcomputing/checkins/services/opportunities/OpportunitiesController.java
  server/src/main/java/com/objectcomputing/checkins/services/opportunities/OpportunitiesRepository.java
  server/src/main/java/com/objectcomputing/checkins/services/tags/TagRepository.java
  server/src/main/java/com/objectcomputing/checkins/services/tags/entityTag/EntityTagRepository.java
  server/src/main/java/com/objectcomputing/checkins/services/team/TeamRepository.java
  server/src/main/resources/db/common/V83__create_demographics_table.sql
  server/src/main/resources/db/common/V84__create_opportunities_table.sql
  server/src/main/resources/db/common/V85__create_role_permissions_table.sql
  server/src/test/java/com/objectcomputing/checkins/services/feedback_request/FeedbackRequestControllerTest.java
  server/src/test/java/com/objectcomputing/checkins/services/fixture/FeedbackRequestFixture.java
  web-ui/src/components/menu/__snapshots__/Menu.test.js.snap
  web-ui/src/components/view_feedback_responses/__snapshots__/ViewFeedbackResponses.test.js.snap
  web-ui/src/components/view_feedback_responses/feedback_response_card/__snapshots__/FeedbackResponseCard.test.js.snap
Labels: bug

#1354 Chore 1339/refactor feedback request page to handle all query parameters
  web-ui/src/components/feedback_date_selector/SelectDate.jsx
  web-ui/src/components/feedback_recipient_selector/FeedbackRecipientSelector.jsx
  web-ui/src/components/feedback_template_selector/FeedbackTemplateSelector.jsx
  web-ui/src/components/routes/Routes.jsx
  web-ui/src/pages/FeedbackRequestPage.jsx
Labels: chore, feedback request

#1346 Bugfix 1345/add feedback routes to new routes component
  server/src/main/java/com/objectcomputing/checkins/security/CheckinsOpenIdUserDetailMapper.java
  server/src/main/java/com/objectcomputing/checkins/services/demographics/DemographicsServices.java
  server/src/main/java/com/objectcomputing/checkins/services/role/RoleRepository.java
  server/src/main/java/com/objectcomputing/checkins/services/role_permissions/RolePermissionRepository.java
  web-ui/src/components/menu/Menu.jsx
  web-ui/src/components/menu/__snapshots__/Menu.test.js.snap
  web-ui/src/components/routes/Routes.jsx
  web-ui/src/components/search-results/SearchBirthdayAnniversaryResults.jsx
Labels: bug

#1382 Link to responses page based on request ID
  web-ui/src/components/feedback_request_card/feedback_request_subcard/FeedbackRequestSubcard.jsx
  web-ui/src/components/feedback_request_card/feedback_request_subcard/__snapshots__/FeedbackRequestSubcard.test.js.snap
Labels: web-ui, view feedback

#1370 Feature 1283/Sort feedback requests by dates on view page
  server/src/main/resources/db/dev/R__Load_testing_data.sql
  web-ui/src/components/feedback_request_card/FeedbackRequestCard.jsx
  web-ui/src/components/feedback_request_card/feedback_request_subcard/FeedbackRequestSubcard.jsx
  web-ui/src/pages/FeedbackRequestPage.css
  web-ui/src/pages/ViewFeedbackPage.css
  web-ui/src/pages/ViewFeedbackPage.jsx
  web-ui/src/pages/__snapshots__/ViewFeedbackPage.test.js.snap
Labels: web-ui, view feedback

#1379 Feature 1361/backend to make templates private or public
  server/src/main/java/com/objectcomputing/checkins/services/feedback/suggestions/FeedbackSuggestionDTO.java
  server/src/main/java/com/objectcomputing/checkins/services/feedback_template/FeedbackTemplate.java
  server/src/main/java/com/objectcomputing/checkins/services/feedback_template/FeedbackTemplateController.java
  server/src/main/java/com/objectcomputing/checkins/services/feedback_template/FeedbackTemplateCreateDTO.java
  server/src/main/java/com/objectcomputing/checkins/services/feedback_template/FeedbackTemplateResponseDTO.java
  server/src/main/java/com/objectcomputing/checkins/services/feedback_template/FeedbackTemplateServicesImpl.java
  server/src/main/resources/db/common/V90__alter_feedback_templates_table.sql
  server/src/main/resources/db/dev/R__Load_testing_data.sql
  server/src/test/java/com/objectcomputing/checkins/services/feedback_template/FeedbackTemplateControllerTest.java
  server/src/test/java/com/objectcomputing/checkins/services/fixture/FeedbackTemplateFixture.java
  web-ui/src/api/feedbacktemplate.js
Labels: server, feedback request

#1366 Feature 1257/delete unused ad hoc templates on request flow
  server/src/main/java/com/objectcomputing/checkins/services/feedback_template/FeedbackTemplate.java
  server/src/main/java/com/objectcomputing/checkins/services/feedback_template/FeedbackTemplateController.java
  server/src/main/java/com/objectcomputing/checkins/services/feedback_template/FeedbackTemplateCreateDTO.java
  server/src/main/java/com/objectcomputing/checkins/services/feedback_template/FeedbackTemplateRepository.java
  server/src/main/java/com/objectcomputing/checkins/services/feedback_template/FeedbackTemplateResponseDTO.java
  server/src/main/java/com/objectcomputing/checkins/services/feedback_template/FeedbackTemplateServices.java
  server/src/main/java/com/objectcomputing/checkins/services/feedback_template/FeedbackTemplateServicesImpl.java
  server/src/main/resources/db/common/V91__alter_feedback_templates.sql
  server/src/main/resources/db/dev/R__Load_testing_data.sql
  server/src/test/java/com/objectcomputing/checkins/services/feedback_template/FeedbackTemplateControllerTest.java
  server/src/test/java/com/objectcomputing/checkins/services/fixture/FeedbackTemplateFixture.java
  web-ui/src/api/feedbacktemplate.js
  web-ui/src/components/feedback_template_selector/FeedbackTemplateSelector.jsx
  web-ui/src/pages/FeedbackRequestPage.jsx
Labels: server, web-ui, feedback request

#1406 Feature 1374/fix url validations on feedback request flow
  web-ui/src/pages/FeedbackRequestPage.jsx
Labels: bug, feedback request

#1356 Feature 1340/enable cloud saving for submission
  server/src/main/java/com/objectcomputing/checkins/services/feedback_answer/FeedbackAnswer.java
  server/src/main/java/com/objectcomputing/checkins/services/feedback_answer/FeedbackAnswerController.java
  server/src/main/java/com/objectcomputing/checkins/services/feedback_answer/FeedbackAnswerCreateDTO.java
  server/src/main/java/com/objectcomputing/checkins/services/feedback_answer/FeedbackAnswerRepository.java
  server/src/main/java/com/objectcomputing/checkins/services/feedback_answer/FeedbackAnswerResponseDTO.java
  server/src/main/java/com/objectcomputing/checkins/services/feedback_answer/FeedbackAnswerServices.java
  server/src/main/java/com/objectcomputing/checkins/services/feedback_answer/FeedbackAnswerServicesImpl.java
  server/src/main/java/com/objectcomputing/checkins/services/feedback_answer/FeedbackAnswerUpdateDTO.java
  server/src/main/java/com/objectcomputing/checkins/services/feedback_answer/question_and_answer/QuestionAndAnswerController.java
  server/src/main/java/com/objectcomputing/checkins/services/feedback_answer/question_and_answer/QuestionAndAnswerServices.java
  server/src/main/java/com/objectcomputing/checkins/services/feedback_answer/question_and_answer/QuestionAndAnswerServicesImpl.java
  server/src/main/resources/db/common/V92__alter_feedback_answer_table.sql
  server/src/test/java/com/objectcomputing/checkins/services/feedback_answer/FeedbackAnswerControllerTest.java
  web-ui/src/api/feedback.js
  web-ui/src/components/feedback_submit_form/FeedbackSubmitForm.jsx
  web-ui/src/pages/FeedbackSubmitPage.jsx
Labels: feedback submission

#1408 Feature 1282/filter feedback requests by date range on view page
  server/src/main/resources/db/dev/R__Load_testing_data.sql
  web-ui/src/components/feedback_request_card/FeedbackRequestCard.jsx
  web-ui/src/components/feedback_request_card/feedback_request_subcard/FeedbackRequestSubcard.jsx
  web-ui/src/components/feedback_request_card/feedback_request_subcard/__snapshots__/FeedbackRequestSubcard.test.js.snap
  web-ui/src/pages/ViewFeedbackPage.jsx
  web-ui/src/pages/__snapshots__/ViewFeedbackPage.test.js.snap
Labels: web-ui, view feedback

#1363 Feature 1302/view request submissions
  server/src/main/java/com/objectcomputing/checkins/services/feedback_answer/FeedbackAnswerController.java
  server/src/main/java/com/objectcomputing/checkins/services/feedback_answer/FeedbackAnswerRepository.java
  server/src/main/java/com/objectcomputing/checkins/services/feedback_answer/FeedbackAnswerServices.java
  server/src/main/java/com/objectcomputing/checkins/services/feedback_answer/FeedbackAnswerServicesImpl.java
  server/src/main/java/com/objectcomputing/checkins/services/feedback_answer/question_and_answer/QuestionAndAnswerController.java
  server/src/main/java/com/objectcomputing/checkins/services/feedback_answer/question_and_answer/QuestionAndAnswerServices.java
  server/src/main/java/com/objectcomputing/checkins/services/feedback_answer/question_and_answer/QuestionAndAnswerServicesImpl.java
  server/src/main/resources/db/dev/R__Load_testing_data.sql
  server/src/test/java/com/objectcomputing/checkins/services/feedback_answer/FeedbackAnswerControllerTest.java
  server/src/test/java/com/objectcomputing/checkins/services/feedback_answer/question_and_answer/QuestionAndAnswerControllerTest.java
  web-ui/package.json
  web-ui/src/api/feedbackanswer.js
  web-ui/src/api/feedbacktemplate.js
  web-ui/src/components/view_feedback_responses/ViewFeedbackResponses.jsx
  web-ui/src/components/view_feedback_responses/feedback_response_card/FeedbackResponseCard.jsx
  web-ui/src/components/view_feedback_responses/feedback_response_card/FeedbackResponseCard.test.js
  web-ui/src/components/view_feedback_responses/feedback_response_card/__snapshots__/FeedbackResponseCard.test.js.snap
  web-ui/yarn.lock
Labels: server, web-ui, view feedback

#1413 Feature 1362/public or private ad-hoc template
  server/src/main/java/com/objectcomputing/checkins/services/feedback_request/FeedbackRequestServicesImpl.java
  server/src/main/resources/db/common/V93__alter_feedback_templates_table.sql
  server/src/test/java/com/objectcomputing/checkins/services/feedback_request/FeedbackRequestControllerTest.java
  web-ui/src/components/feedback_request_confirmation/FeedbackRequestConfirmation.jsx
  web-ui/src/components/feedback_request_confirmation/__snapshots__/FeedbackRequestConfirmation.test.js.snap
  web-ui/src/components/feedback_template_selector/FeedbackTemplateSelector.jsx
  web-ui/src/components/template-preview-modal/TemplatePreviewModal.css
  web-ui/src/components/template-preview-modal/TemplatePreviewModal.jsx
  web-ui/src/components/template-preview-modal/ad_hoc_creation_form/AdHocCreationForm.jsx
Labels: web-ui, feedback request

#1424 Feature 1334/filter by recipient names on feedback responses page
  web-ui/src/components/sentiment_icon/SentimentIcon.jsx
  web-ui/src/components/view_feedback_responses/ViewFeedbackResponses.css
  web-ui/src/components/view_feedback_responses/ViewFeedbackResponses.jsx
Labels: web-ui, view feedback

#1431 Create received feedback requests page
  server/src/main/java/com/objectcomputing/checkins/services/feedback_request/FeedbackRequestController.java
  server/src/main/java/com/objectcomputing/checkins/services/feedback_request/FeedbackRequestRepository.java
  server/src/main/java/com/objectcomputing/checkins/services/feedback_request/FeedbackRequestServices.java
  server/src/main/java/com/objectcomputing/checkins/services/feedback_request/FeedbackRequestServicesImpl.java
  server/src/main/java/com/objectcomputing/checkins/services/request_notifications/CheckServicesImpl.java
  server/src/main/resources/db/dev/R__Load_testing_data.sql
  web-ui/src/api/feedback.js
  web-ui/src/components/menu/Menu.jsx
  web-ui/src/components/menu/__snapshots__/Menu.test.js.snap
  web-ui/src/components/received_request_card/ReceivedRequestCard.jsx
  web-ui/src/components/routes/Routes.jsx
  web-ui/src/pages/ReceivedRequestsPage.css
  web-ui/src/pages/ReceivedRequestsPage.jsx
Labels: server, web-ui, view feedback

#1420 Bugfix 1418/misc bugfixes
  server/src/main/java/com/objectcomputing/checkins/gcp/postgres/GoogleCloudDatabaseSetup.java
  server/src/main/java/com/objectcomputing/checkins/notifications/email/MailJetSender.java
  server/src/main/java/com/objectcomputing/checkins/services/feedback_request/FeedbackRequestServicesImpl.java
  server/src/main/resources/application.yml
  server/src/main/resources/db/dev/R__Load_testing_data.sql
  server/src/test/java/com/objectcomputing/checkins/services/TestContainersSuite.java
  server/src/test/java/com/objectcomputing/checkins/services/feedback_request/FeedbackRequestControllerTest.java
  server/src/test/resources/application-test.yml
  web-ui/src/components/feedback_recipient_selector/FeedbackRecipientSelector.jsx
  web-ui/src/components/feedback_submit_form/FeedbackSubmitForm.jsx
  web-ui/src/components/view_feedback_responses/ViewFeedbackResponses.jsx
  web-ui/src/pages/FeedbackRequestPage.jsx
Labels: bug
