Repository objectcomputing/check-ins, pull requests merged in 2021-06, with the labels that each got.

#982 Feature 974/Create request feedback page and stepper wrapper
  web-ui/src/pages/FeedbackRequestPage.css
  web-ui/src/pages/FeedbackRequestPage.jsx
  web-ui/src/pages/FeedbackRequestPage.test.js
  web-ui/src/pages/__snapshots__/FeedbackRequestPage.test.js.snap
Labels: feedback request, web-ui

#999 Created component for selectable recipients.
  web-ui/src/App.js
  web-ui/src/components/checkin/CheckinCycle.stories.js
  web-ui/src/components/feedback_recipient_selector/FeedbackRecipientSelector.jsx
  web-ui/src/components/feedback_recipient_selector/__snapshots__/FeedbackRecipientSelector.test.js.snap
  web-ui/src/components/feedback_request/Feedback_recipient_card.jsx
  web-ui/src/components/feedback_request/Feedback_recipient_card.stories.js
  web-ui/src/components/feedback_request/Feedback_recipient_card.test.js
  web-ui/src/components/feedback_request/__snapshots__/Feedback_recipient_card.test.js.snap
  web-ui/src/pages/FeedbackRequestPage.jsx
Labels: feedback request

#1025 Feature 1018/feedback sugestion service
  package-lock.json
  server/src/main/java/com/objectcomputing/checkins/services/feedback/suggestions/FeedbackSuggestionDTO.java
  server/src/main/java/com/objectcomputing/checkins/services/feedback/suggestions/FeedbackSuggestionServiceImpl.java
  server/src/main/java/com/objectcomputing/checkins/services/feedback/suggestions/FeedbackSuggestionsController.java
  server/src/main/java/com/objectcomputing/checkins/services/feedback/suggestions/FeedbackSuggestionsService.java
  server/src/main/resources/application.yml
  server/src/test/java/com/objectcomputing/checkins/services/checkindocument/CheckinDocumentControllerTest.java
  server/src/test/java/com/objectcomputing/checkins/services/feedback/suggestions/FeedbackSuggestionsControllerTest.java
  server/src/test/java/com/objectcomputing/checkins/services/fixture/FeedbackFixture.java
  server/src/test/java/com/objectcomputing/checkins/services/fixture/MemberProfileFixture.java
Labels: feedback request, server

#1068 null check fixed
  server/src/main/java/com/objectcomputing/checkins/services/feedback/suggestions/FeedbackSuggestionDTO.java
  server/src/main/java/com/objectcomputing/checkins/services/feedback/suggestions/FeedbackSuggestionServiceImpl.java
Labels: bug, feedback request

#1090 fix undefined references - Closes #1089
  web-ui/src/context/AppContext.js
  web-ui/src/context/selectors.js
Labels: bug, web-ui

#1100 Fixed broken TemplateCard and TemplatePreviewModal imports on merge
  web-ui/src/pages/FeedbackRequestPage.jsx
Labels: feedback request

#1102 Bugfix 1101/fix merge problems feedback
  web-ui/src/components/feedback_template_selector/FeedbackTemplateSelector.jsx
  web-ui/src/components/feedback_template_selector/__snapshots__/FeedbackTemplateSelector.test.js.snap
  web-ui/src/components/template-preview-modal/TemplatePreviewModal.js
  web-ui/src/pages/FeedbackRequestPage.jsx
Labels: feedback request
